<div class="row wrapper border-bottom yellow-bg page-heading">
  <div class="col-lg-10">
    <h2>All Events</h2>
  </div>
  <div class="col-lg-2">
    <h2><a class="btn btn-primary" href="/events/add"><i class="fa fa-plus"></i> Add New Event</a></h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>List of all events</h5>
          <!--<div ibox-tools></div>-->
        </div>
        <div class="ibox-content" ng-controller="sweetAlertCtrl">

          <table datatable="" class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
              <th>Image</th>
              <th>Event</th>
              <th>Created by</th>
              <th>Date</th>
              <th>Restricted to</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td><img src="/img/a1.jpg" class="message-avatar"></td>
              <td>Elsa Ploof  </td>
              <td><a href="/parent/edit">Agueda Lucena</a></td>
              <td>02/15/2016</td>
              <td><a href="/class/edit">Nursery School A</a> </td>
              <td><div class="btn-group"><a href="/events/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td><img src="/img/a2.jpg" class="message-avatar"></td>
              <td>Agueda Lucena </td>
              <td><a href="/parent/edit">Elsa Ploof</a></td>
              <td>02/18/2016</td>
              <td><a href="/class/edit">Nursery School A</a> </td>
              <td><div class="btn-group"><a href="/events/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td><img src="/img/a3.jpg" class="message-avatar"></td>
              <td>Elmer Leal</td>
              <td><a href="/parent/edit">Lashonda Mathena</a></td>
              <td>03/11/2016</td>
              <td><a href="/class/edit">Nursery School B</a> </td>
              <td><div class="btn-group"><a href="/events/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td><img src="/img/a4.jpg" class="message-avatar"></td>
              <td>Lashonda Mathena  </td>
              <td><a href="/parent/edit">Elmer Leal</a></td>
              <td>03/25/2016</td>
              <td><a href="/class/edit">Nursery School C</a> </td>
              <td><div class="btn-group"><a href="/events/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td><img src="/img/a5.jpg" class="message-avatar"></td>
              <td>Darrel Lundgreen</td>
              <td><a href="/parent/edit">Stacie Viveros</a></td>
              <td>04/10/2016</td>
              <td><a href="/class/edit">Pre-Kindergarten A</a> </td>
              <td><div class="btn-group"><a href="/events/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td><img src="/img/a6.jpg" class="message-avatar"></td>
              <td>Stacie Viveros</td>
              <td><a href="/parent/edit">Robby Zimmer</a></td>
              <td>04/15/2016</td>
              <td><a href="/class/edit">Pre-Kindergarten A</a> </td>
              <td><div class="btn-group"><a href="/events/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td><img src="/img/a7.jpg" class="message-avatar"></td>
              <td>Robby Zimmer</td>
              <td><a href="/parent/edit">Darrel Lundgreen</a></td>
              <td>04/20/2016</td>
              <td><a href="/class/edit">Pre-Kindergarten C</a> </td>
              <td><div class="btn-group"><a href="/events/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
