<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" dropdown>
                  <span>
                    <img alt="image" class="img-responsive" src="/images/logo.png">
                  </span>
                  <span class="clear">
                      <span class="block m-t-xs">
                        <a href="/profile"> <strong class="font-bold">Name of School</strong></a>
                        </span>
                      </span>
                    <a class="dropdown-toggle" dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                              <p class="text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></p>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                      <li class="m-md">
                        <p>Teachers: <span class="text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></span> (5)</p>
                        <p>Location: <span class="text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></span> (15)</p>
                        <p>Clean: <span class="text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></span> (8)</p>
                        <p>Food: <span class="text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></span> (7)</p>
                        </li>
                    </ul>
                </div>

                <div class="logo-element">
                  <img alt="image" class="img-responsive" src="/images/icona.png">
                </div>

            </li>
          <li>
            <a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span> </a>
          </li>

            <li>
                <a href="/class"><i class="fa fa-laptop"></i> <span class="nav-label">Class</span> </a>
            </li>
            <li>
                <a href="/teacher"><i class="fa fa-desktop"></i> <span class="navnlabel">Teacher</span></a>
            </li>
          <li>
            <a href="/parent"><i class="fa fa-desktop"></i> <span class="nav-label">Parent</span></a>
          </li>
          <li>
            <a href="/child"><i class="fa fa-desktop"></i> <span class="nav-label">Kids</span></a>
          </li>
          <li>
            <a href="/events"><i class="fa fa-desktop"></i> <span class="nav-label">Events</span></a>
              <!--<a>
                <i class="fa fa-th-large"></i>
              <span class="nav-label">Events</span>
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">
              <li><a href="/eventSchool">School Events</a></li>
              <li><a href="/events">All Events</a></li>
            </ul>-->
          </li>
          <li>
            <a href="/food-menu"><i class="fa fa-desktop"></i> <span class="nav-label">Food Menu</span></a>
          </li>
        </ul>

    </div>
</nav>
