<div class="row">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <span minimaliza-sidebar></span>
      <form role="search" class="navbar-form-custom" method="post" action="/search-results">
        <div class="form-group">
          <div class="input-group">
            <input type="text" placeholder="Search" class="form-control" name="top-search" id="top-search">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> </button>
            </span>
          </div>
        </div>
      </form>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle count-info" href dropdown-toggle>
          <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
        </a>
        <ul class="dropdown-menu dropdown-messages">
          <li>
            <div class="dropdown-messages-box">
              <a ui-sref="profile" class="pull-left">
                <img alt="image" class="img-circle" src="/img/a7.jpg">
              </a>

              <div>
                <small class="pull-right">46h ago</small>
                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
              </div>
            </div>
          </li>
          <li class="divider"></li>
          <li>
            <div class="dropdown-messages-box">
              <a ui-sref="profile" class="pull-left">
                <img alt="image" class="img-circle" src="/img/a4.jpg">
              </a>

              <div>
                <small class="pull-right text-navy">5h ago</small>
                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
              </div>
            </div>
          </li>
          <li class="divider"></li>
          <li>
            <div class="dropdown-messages-box">
              <a ui-sref="profile" class="pull-left">
                <img alt="image" class="img-circle" src="/img/profile.jpg">
              </a>

              <div>
                <small class="pull-right">23h ago</small>
                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
              </div>
            </div>
          </li>
          <li class="divider"></li>
          <li>
            <div class="text-center link-block">
              <a ui-sref="mailbox.inbox">
                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle count-info" href dropdown-toggle>
          <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
          <li>
            <a ui-sref="inbox">
              <div>
                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                <span class="pull-right text-muted small">4 minutes ago</span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a ui-sref="profile">
              <div>
                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                <span class="pull-right text-muted small">12 minutes ago</span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a ui-sref="grid_options">
              <div>
                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                <span class="pull-right text-muted small">4 minutes ago</span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <div class="text-center link-block">
              <a href="/notification">
                <strong>See All Notification</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <a href="/login">
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </li>
    </ul>

  </nav>
  <div class="marquee navy-bg">
    <marquee align="middle" direction="left" onmouseover="this.stop();" onmouseout="this.start();" scrolldelay="5">
      <span class="new">Many desktop publishing packages and web page <a href="javascript:;"> editors</a> now use Lorem Ipsum</span>
      <span>as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</span>
      <span>Packages and web page editors now use Lorem Ipsum as their default model text.</span>
    </marquee>
  </div>
</div>
