<!DOCTYPE html>
<html ng-app="scool">
  <head>
    <title><%=typeof title == 'undefined' ? 'Scool' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body class="fixed-sidebar">
  <!-- Wrapper-->
  <div id="wrapper">

    <!-- Navigation -->
    <%- partial('../elements/navigation.ejs') %>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg">

      <!-- Page wrapper -->
      <%- partial('../elements/topnavbar.ejs') %>

      <!-- Content -->
      <%- body %>

      <!-- Footer -->
      <%- partial('../elements/footer.ejs') %>

    </div>
    <!-- End page wrapper-->

  </div>
  <!-- End wrapper-->



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/vendor/jquery/jquery-2.1.1.min.js"></script>
    <script src="/js/vendor/plugins/jquery-ui.min.js"></script>
    <script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/js/vendor/plugins/jquery.metisMenu.js"></script>
    <script src="/js/vendor/plugins/jquery.slimscroll.min.js"></script>
    <script src="/js/vendor/plugins/pace.min.js"></script>
    <script src="/js/vendor/angular/angular.min.js"></script>
    <script src="/js/vendor/angular/angular-animate.min.js"></script>
    <script src="/js/vendor/plugins/jquery.dataTables.js"></script>
    <script src="/js/vendor/plugins/dataTables.bootstrap.js"></script>
    <script src="/js/vendor/plugins/angular-datatables.min.js"></script>
    <script src="/js/vendor/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="/js/vendor/plugins/chosen.jquery.js"></script>
    <script src="/js/vendor/plugins/angular-datepicker.js"></script>
    <script src="/js/vendor/plugins/angular-sweetalert.min.js"></script>
    <script src="/js/vendor/plugins/sweetalert.min.js"></script>
    <script src="/js/vendor/plugins/summernote.min.js"></script>
    <script src="/js/vendor/plugins/angular-summernote.min.js"></script>
    <script src="/js/vendor/plugins/icheck.min.js"></script>
    <script src="/js/vendor/plugins/moment.min.js"></script>
    <script src="/js/vendor/plugins/daterangepicker.js"></script>
    <script src="/js/vendor/plugins/angular-daterangepicker.js"></script>
    <script src="/js/vendor/plugins/fullcalendar.min.js"></script>
    <script src="/js/vendor/plugins/gcal.js"></script>
    <script src="/js/vendor/plugins/calendar.js"></script>
    <script src="/js/app/inspinia.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/config.js"></script>
    <script src="/js/app/directives.js"></script>
    <script src="/js/app/controllers.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
