<!DOCTYPE html>
<html ng-app="scool">
<head>
  <title><%=typeof title == 'undefined' ? 'Scool' : title%></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body class="gray-bg">
<!-- Wrapper-->
<%- body %>
<!-- End wrapper-->

<script src="/js/vendor/jquery/jquery-2.1.1.min.js"></script>
<script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
</body>
</html>
