<div class="row wrapper border-bottom yellow-bg page-heading">
  <div class="col-lg-10">
    <h2>Class</h2>
  </div>
  <div class="col-lg-2">
    <h2><a class="btn btn-primary" href="/class/add"><i class="fa fa-plus"></i> Add New Class</a></h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="addClassCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>List of classes at your school</h5>
          <!--<div ibox-tools></div>-->
          <a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs pull-right"><i class="fa fa-envelope"></i> Send a message to all class component</a>
        </div>
        <div class="ibox-content" ng-controller="sweetAlertCtrl">

          <table datatable="" class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
              <th>Name</th>
              <th>Child</th>
              <th>Teachers</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td>Nursery School A</td>
              <td>25</td>
              <td>4</td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/class/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td>Nursery School B</td>
              <td>24</td>
              <td>4</td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/class/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td>Nursery School C</td>
              <td>24</td>
              <td>4</td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/class/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td>Pre-Kindergarten A</td>
              <td>30</td>
              <td>11</td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/class/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td>Pre-Kindergarten B</td>
              <td>28</td>
              <td>11</td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/class/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td>Pre-Kindergarten C</td>
              <td>31</td>
              <td>11</td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/class/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td>Pre-Kindergarten D</td>
              <td>28</td>
              <td>11</td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/class/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>
</div>
