<div class="row wrapper border-bottom yellow-bg page-heading">
  <div class="col-lg-10">
    <h2>Teachers</h2>
  </div>
  <div class="col-lg-2">
    <h2><a class="btn btn-primary" href="/teacher/add"><i class="fa fa-plus"></i> Add New Teacher</a></h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>List of teachers at your school</h5>
          <!--<div ibox-tools></div>-->
          <a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs pull-right"><i class="fa fa-envelope"></i> Send a message to all teacher</a>
        </div>
        <div class="ibox-content" ng-controller="sweetAlertCtrl">

          <table datatable="" class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Status</th>
              <th>Mail</th>
              <th>Phone</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td><img src="/images/icona.png" class="message-avatar"></td>
              <td>Elsa Ploof</td>
              <td><span class="label label-warning">Pending</span></td>
              <td>test@test.com <a href="mailto:;"> <i class="fa fa-envelope-o"></i></a></td>
              <td>+1 4148452658 <a href="#"><i class="fa fa-phone"></i></a> </td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/teacher/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td><img src="/img/a2.jpg" class="message-avatar"></td>
              <td>Agueda Lucena<p class="text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></p></td>
              <td><span class="label label-primary">Active</span></td>
              <td>test@test.com <a href="mailto:;"> <i class="fa fa-envelope-o"></i></a></td>
              <td>+1 4148452658 <a href="#"><i class="fa fa-phone"></i></a> </td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/teacher/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td><img src="/img/a3.jpg" class="message-avatar"></td>
              <td>Elmer Leal<p class="text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p></td>
              <td><span class="label label-primary">Active</span></td>
              <td>test@test.com <a href="mailto:;"> <i class="fa fa-envelope-o"></i></a></td>
              <td>+1 4148452658 <a href="#"><i class="fa fa-phone"></i></a> </td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/teacher/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td><img src="/img/a4.jpg" class="message-avatar"></td>
              <td>Lashonda Mathena<p class="text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p></td>
              <td><span class="label label-primary">Active</span></td>
              <td>test@test.com <a href="mailto:;"> <i class="fa fa-envelope-o"></i></a></td>
              <td>+1 4148452658 <a href="#"><i class="fa fa-phone"></i></a> </td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/teacher/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td><img src="/images/icona.png" class="message-avatar"></td>
              <td>Darrel Lundgreen</td>
              <td><span class="label label-warning">Pending</span></td>
              <td>test@test.com <a href="mailto:;"> <i class="fa fa-envelope-o"></i></a></td>
              <td>+1 4148452658 <a href="#"><i class="fa fa-phone"></i></a> </td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/teacher/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td><img src="/images/icona.png" class="message-avatar"></td>
              <td>Stacie Viveros</td>
              <td><span class="label label-warning">Pending</span></td>
              <td>test@test.com <a href="mailto:;"> <i class="fa fa-envelope-o"></i></a></td>
              <td>+1 4148452658 <a href="#"><i class="fa fa-phone"></i></a> </td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/teacher/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            <tr >
              <td><img src="/img/a7.jpg" class="message-avatar"></td>
              <td>Robby Zimmer<p class="text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p></td>
              <td><span class="label label-primary">Active</span></td>
              <td>test@test.com <a href="mailto:;"> <i class="fa fa-envelope-o"></i></a></td>
              <td>+1 4148452658 <a href="#"><i class="fa fa-phone"></i></a> </td>
              <td><div class="btn-group"><a href="javascript:;" ng-click="sendMsgClass()" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i> Send Message</a><a href="/teacher/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" ng-click="alertDelete()" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></div></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
