<div class="inmodal">
  <div class="modal-header">
    <i class="fa fa-child modal-icon"></i>
    <h4 class="modal-title">Add Child</h4>
    <small class="font-bold">Creation is limited to few data,<br>in order to submit all data, create or modify the child in the special section.</small>
  </div>
  <div class="modal-body">
    <form method="get" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-4 control-label">Name of Child</label>
        <div class="col-sm-8">
          <input type="text" placeholder="Ex. Mitsue Wible" class="form-control">
        </div>
      </div>
      <div class="hr-line-dashed"></div>

      <div class="form-group" id="data_1">
        <label class="col-sm-4 control-label">Birth Date</label>
        <div class="col-sm-8">
          <div class="input-group date">
            <input type="datetime" class="form-control" date-picker ng-model="sampleDate" view="date" auto-close="true">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>
      <div class="hr-line-dashed"></div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Gender</label>
        <div class="col-sm-8">
          <select name="account" class="form-control m-b">
            <option value="option 1">Male</option>
            <option value="option 2">Female</option>
          </select>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Save changes</button>
  </div>
</div>
