<div class="inmodal">
  <div class="modal-header">
    <i class="fa fa-user-plus modal-icon"></i>
    <h4 class="modal-title">Invite Parent</h4>
    <small class="font-bold">Creation is limited to few data,<br>in order to submit all data, create or modify the parent in the special section.</small>
  </div>
  <div class="modal-body">
    <form method="get" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-4 control-label">Name of Parent</label>
        <div class="col-sm-8">
          <input type="text" placeholder="Ex. Mitsue Wible" class="form-control">
        </div>
      </div>
      <div class="hr-line-dashed"></div>

      <div class="form-group" id="data_1">
        <label class="col-sm-4 control-label">Mail</label>
        <div class="col-sm-8">
          <input type="email" placeholder="Ex. mitsuewible@gmail.com" class="form-control">
        </div>
      </div>
      <div class="hr-line-dashed"></div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Phone</label>
        <div class="col-sm-8">
          <input type="text" placeholder="Ex. +1 1111111111" class="form-control">
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Save changes</button>
  </div>
</div>
