<div class="inmodal">
  <div class="modal-header">
    <i class="fa fa-envelope modal-icon"></i>
    <h4 class="modal-title">Send Message</h4>
    <small class="font-bold">to all the parents and teachers of the class.</small>
  </div>
  <div class="modal-body">

    <div class="mail-box">


      <div class="mail-body">

        <form class="form-horizontal" method="get">
          <div class="form-group"><label class="col-sm-2 control-label">Subject:</label>

            <div class="col-sm-10"><input type="text" class="form-control" value=""></div>
          </div>
        </form>

      </div>

      <div class="mail-text h-200" ng-controller="addClassCtrl">

        <div summernote class="summernote"  ng-model="summernoteText">
          <h3>Hello Jonathan! </h3>
          dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's</strong> standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
          <br/>
          <br/>

        </div>
        <div class="clearfix"></div>
      </div>


    </div>

    <!--<form method="get" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-4 control-label">Name of Teacher</label>
        <div class="col-sm-8">
          <input type="text" placeholder="Ex. Mitsue Wible" class="form-control">
        </div>
      </div>
      <div class="hr-line-dashed"></div>

      <div class="form-group" id="data_1">
        <label class="col-sm-4 control-label">Mail</label>
        <div class="col-sm-8">
          <input type="email" placeholder="Ex. mitsuewible@gmail.com" class="form-control">
        </div>
      </div>
      <div class="hr-line-dashed"></div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Phone</label>
        <div class="col-sm-8">
          <input type="text" placeholder="Ex. +1 1111111111" class="form-control">
        </div>
      </div>

    </form>-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Send</button>
  </div>
</div>
