@giallo: #ff921e;
@rosso: #ce4f48;
@celeste: #39ad9a;
@celesteHover: #61bdae;
@male: #009ce2;
@female: #ef6ab4;

a{
  color: @celeste;
  &:hover,
  &:active,
  &:focus{
    color: @celesteHover;
  }
}

.agile-list li{
  &.male-element{
    border-left:solid 3px @male;
  }
  &.female-element{
    border-left:solid 3px @female;
  }
}

.marquee {
  height: 30px;
  width: 100%;
  overflow: hidden;
  position: relative;
  line-height: 30px;
  marquee:before{
    content: 'Your Dashboard :';
    float: left;
    background: #1ab394;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    position: relative;
  }
  a{
    color: #fff;
    text-decoration: underline;
  }
  span{
    margin-right: 25px;
    &:after{
      content: '-';
      padding-left: 25px;
    }
    &:last-child{
      margin-right: 0;
      &:after{
        content: '';
        padding-left: 0;
      }
    }
    &.new:before {
      content: 'new';
      background: red;
      color: white;
      margin-right: 10px;
      padding: 1px 10px 2px;
      border-radius: 10%;
      text-transform: uppercase;
    }
  }
}
