<div class="row wrapper border-bottom yellow-bg page-heading">
  <div class="col-lg-10">
    <h2>Food Menu</h2>
  </div>
</div>

<div class="wrapper wrapper-content" ng-controller="CalendarCtrl">
  <div class="row animated fadeInDown">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Food List</h5>
          <!--<div ibox-tools></div>-->
        </div>
        <div class="ibox-content">
          <!--<div id='external-events'>
            <strong>Drag the food on calendar!</strong>
            &lt;!&ndash;<p>Message from functions:
              <br/>
            <div class="alert alert-warning" ng-show="alertMessage">
              {{alertMessage}}
            </div>
            </p>&ndash;&gt;
          </div>-->
          <div id="external-events">
            <p>Drag a food and drop into calendar.</p>
            <div class="external-event navy-bg ui-draggable ui-draggable-handle">Sliced chicken</div>
            <div class="external-event navy-bg ui-draggable ui-draggable-handle">French onion dip</div>
            <div class="external-event navy-bg ui-draggable ui-draggable-handle">Lettuce & tomato sandwich</div>
            <div class="external-event navy-bg ui-draggable ui-draggable-handle">Other</div>
            <div class="external-event navy-bg ui-draggable ui-draggable-handle">Other</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Food Calendar</h5>
          <!--<div ibox-tools></div>-->
        </div>

        <div class="ibox-content ui-calendar">
          <!--<div class="btn-toolbar">
            <p class="lead">Angular Calendar (Ui-calendar)</p>
          </div>-->
          <div ui-calendar="uiConfig.calendar" calendar="myCalendar1" class="calendar" ng-model="eventSources"></div>
        </div>
      </div>
    </div>
  </div>
</div>
