<div class="row wrapper border-bottom yellow-bg page-heading">
  <div class="col-lg-10">
    <h2>Notifications</h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="social-avatar vote-item">
    <div class="social-comment">
      <a href="" class="pull-left">
        <img alt="image" src="images/icona.png">
      </a>
      <a href="#" class="vote-title">
        Many desktop publishing packages and web page
      </a>
      <div class="vote-info">
        <i class="fa fa-clock-o"></i> <a href="#">6 Hours ago</a>
      </div>
    </div>
  </div>
  <div class="social-avatar vote-item">
    <div class="social-comment">
      <a href="" class="pull-left">
        <img alt="image" src="img/a1.jpg">
      </a>
      <a href="#" class="vote-title">
        There are many variations of passages of Lorem Ipsum available, but the majority have
      </a>
      <div class="vote-info">
        <i class="fa fa-clock-o"></i> <a href="#">10 Hours ago</a>
      </div>
    </div>
  </div>
  <div class="social-avatar vote-item">
    <div class="social-comment">
      <a href="" class="pull-left">
        <img alt="image" src="img/a2.jpg">
      </a>
      <a href="#" class="vote-title">
        Contrary to popular belief, Lorem Ipsum is not simply random text
      </a>
      <div class="vote-info">
        <i class="fa fa-clock-o"></i> <a href="#">6 Hours ago</a>
      </div>
    </div>
  </div>
  <div class="social-avatar vote-item">
    <div class="social-comment">
      <a href="" class="pull-left">
        <img alt="image" src="img/a3.jpg">
      </a>
      <a href="#" class="vote-title">
        The generated Lorem Ipsum is therefore
      </a>
      <div class="vote-info">
        <i class="fa fa-clock-o"></i> <a href="#">6 Hours ago</a>
      </div>
    </div>
  </div>
  <div class="social-avatar vote-item">
    <div class="social-comment">
      <a href="" class="pull-left">
        <img alt="image" src="img/a4.jpg">
      </a>
      <a href="#" class="vote-title">
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
      </a>
      <div class="vote-info">
        <i class="fa fa-clock-o"></i> <a href="#">6 Hours ago</a>
      </div>
    </div>
  </div>
  <div class="social-avatar vote-item">
    <div class="social-comment">
      <a href="" class="pull-left">
        <img alt="image" src="img/a5.jpg">
      </a>
      <a href="#" class="vote-title">
        Many desktop publishing packages and web page
      </a>
      <div class="vote-info">
        <i class="fa fa-clock-o"></i> <a href="#">6 Hours ago</a>
      </div>
    </div>
  </div>
  <div class="social-avatar vote-item">
    <div class="social-comment">
      <a href="" class="pull-left">
        <img alt="image" src="img/a6.jpg">
      </a>
      <a href="#" class="vote-title">
        There are many variations of passages of Lorem Ipsum available, but the majority have
      </a>
      <div class="vote-info">
        <i class="fa fa-clock-o"></i> <a href="#">6 Hours ago</a>
      </div>
    </div>
  </div>
  <div class="social-avatar vote-item">
    <div class="social-comment">
      <a href="" class="pull-left">
        <img alt="image" src="img/a7.jpg">
      </a>
      <a href="#" class="vote-title">
        Contrary to popular belief, Lorem Ipsum is not simply random text
      </a>
      <div class="vote-info">
        <i class="fa fa-clock-o"></i> <a href="#">6 Hours ago</a>
      </div>
    </div>
  </div>

</div>
