<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name"><img alt="image" class="img-responsive" src="images/logo.png"></h1>
    </div>
    <h3>Welcome to Scool Control Panel</h3>
    <p>Connect the world’s preschools, daycare, childcare with all the family members to make them more successful</p>
    <form class="m-t" role="form" action="/">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Username" required="">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required="">
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
      <a href="/forgot-password"><small>Forgot password?</small></a>
      <p class="text-muted text-center"><small>Do not have an account?</small></p>
      <a class="btn btn-sm btn-white btn-block" href="/register">Create an account</a>
    </form>
  </div>
</div>
