<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name"><img alt="image" class="img-responsive" src="images/logo.png"></h1>
    </div>
    <h3>Welcome to Scool Control Panel</h3>
    <p>Connect the world’s preschools, daycare, childcare with all the family members to make them more successful</p>
    <form class="m-t" role="form" action="#">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" required="">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" required="">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required="">
      </div>
      <div class="form-group">
        <div class="checkbox"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

      <p class="text-muted text-center"><small>Already have an account?</small></p>
      <a class="btn btn-sm btn-white btn-block" href="/login">Login</a>
    </form>
  </div>
</div>
